body {
    background-color: #3c58b6; 
  }
  
  main{
        background-color: darkgray;

  }

  .content {
    flex: 1; /* Esto empuja el footer hacia abajo */
  }
  
  footer {
    position: relative;
    width: 100%;
  }